@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Email:</strong> <a href="mailto:gabymarius@hotmail.com">gabymarius@hotmail.com</a><br />
  <strong>Phone:</strong> <abbr title="Phone">+40.770.865.861</abbr>
</address>