@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <p class="pull-right">
    <img src="~/Content/images/review-list-restaurant-logo.png" alt="restaurant reviews" width="256" height="256" />
  </p>
  <h1 class="text-center">POVESTI DESPRE MANCARE</h1>
  <p class="lead text-center">Povestile oamenilor care au comandat la un restaurant<br/>sau au servit masa in locul respectiv</p>
  <p>
    <a href="#" class="btn btn-primary btn-lg">Adauga o recenzie &raquo;</a>
  </p>
</div>

<div class="row">
  <div class="col-md-12 page-header text-info text-center">
    <h1>Oamenii frumosi cauta lucruri interesante</h1>
  </div>
  <div class="col-md-4 text-center">
    <h2>Targoviste.info</h2>
    <p>
      &rdquo;<em>Sunt acasa.</em>&ldquo; Acesta este raspunsul la intrebarea &rdquo;Unde esti?&ldquo; Targoviste pentru mine este acasa.
      Este orasul pe care l-am strabatut in lung si in lat, orasul amintirilor mele din copilarie. <strong>Informeaza-te!</strong>
    </p>
    <p>
      <a class="btn btn btn-default" target="_blank" href="http://www.targoviste.info">
        <img src="http://www.targoviste.info/logo_targoviste.info.png" alt="portal targoviste" width="260" height="104">
      </a>
    </p>
  </div>
  <div class="col-md-4 text-center">
    <h2>vreauSAmerg</h2>
    <p>
      &rdquo;Vreau sa merg...&ldquo; si te blochezi pentru ca nu prea stii ce sa alegi dintre atatea optiuni.
      Intra pe <strong>vreauSAmerg</strong> si cel putin stii de ce alegi sa mergi intr-un loc. Ai o multime de optiuni din care sa alegi.
    </p>
    <p>
      <a class="btn btn-default" target="_blank" href="http://vreausamerg.ro/">
        <img src="//static.vreausamerg.ro/ui/assets/vsm_small.png" alt="vreauSAmerg" width="100" height="100">
      </a>
    </p>
  </div>
  <div class="col-md-4 text-center">
    <h2>Pluralsight</h2>
    <p>
      <strong>Noi</strong> suntem platforma de invatare a noilor tehnologii. Platforma include peste 5000 de cursuri predate de experti in domeniul lor.
      Domeniile cuprind securitatea datelor si diferitele limbaje de programare.
    </p>
    <p>
      <a class="btn btn-default" target="_blank" href="https://www.pluralsight.com/">
        <img src="http://daninovac.com/wp-content/uploads/2016/03/pluralsight_1.jpg.900x400_q85_crop-2-750x350.jpg" alt="Pluralsight" width="160" height="100">
      </a>
    </p>
  </div>
</div>