@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron-fluid">
    <div class="text-center">
        <h1 class="display-4">Welcome to weather app</h1>
        <p>This app is used to present you the weather forecast for the next 5 days for Belfast, Northern Ireland.</p>
    </div>
</div>
